desktop.ini
log.txt
bin/
dgle/

# Visual Studio
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Dd]ebug clang/
[Rr]elease clang/
*.ilk
*.lib
*.exp
*.pdb
ipch/
*.aps
*.sdf
*.opensdf
*.opendb
*.VC.db
